extends ../layout

block content
    include ../mixins/clubEvent
    include ../mixins/clubNews
    .club-detail-page

        .club-detail-header
            a.button(href=`/clubs/${club.id}/edit`) Edit
            img.club-detail-logo(src=club.logo, alt=club.name + ' Logo')

            .club-detail-info
                h1= club.name
                .club-detail-tags= ' - ' + (club.category || 'General') + ' - '
                p.club-detail-description= club.shortDesc

                .club-detail-meta
                    p= 'Meets in ' + (club.location || 'TBD')
                    p= 'Advisor: ' + (club.advisor || 'TBD')

                .club-detail-social
                    a(href='#', target='_blank')
                        img(src='https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Instagram_logo_2022.svg/1200px-Instagram_logo_2022.svg.png', alt='Instagram')
                    a(href='#', target='_blank')
                        img(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2sSeQqjaUTuZ3gRgkKjidpaipF_l6s72lBw&s', alt='Google')

        .club-officers-section
            h2 Meet the Officers
            .club-officers-grid
                if club.officers && club.officers !== 'No officers listed' && club.officers !== 'See details page'
                    each officer in club.officers.split(', ')
                        .club-officer-card
                            img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6I4sTak5bTNLQVa6_nBUOZQ41ASu2Kfpj8Q&s", alt="Officer")
                            p= officer
                else
                    .club-officer-card
                        img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6I4sTak5bTNLQVa6_nBUOZQ41ASu2Kfpj8Q&s", alt="No officer")
                        p No officers listed yet
        div.club-engagements
            div.calendar
                div.calendar-header
                    button(id="prev-month") ‹
                    div#month-year
                    button(id="next-month") ›
                div.calendar-body
                    div.calendar-weekdays
                        div Sun
                        div Mon
                        div Tue
                        div Wed
                        div Thu
                        div Fri
                        div Sat
                    div.calendar-dates


                div.club-events-form
                    div.club-events
                        div.club-events-heading
                            button(type="button")#calPop Add Event

                        div.popup-overlay#popupOverlay
                            div.popup#popup
                                span.close#closePopup &times;
                                div.popup-content
                                    form.eventForm(action=`/clubs/${club.id}/event/create` method='post')
                                        div.input-container
                                            label(for="eventtitle").form-label Name of Event:
                                            input(type="text" name="eventtitle" id="eventtitle" required=true)
                                        div.input-container
                                            label(for="eventdate").form-label Date of Event:
                                            input(type="date" name="eventdate" id="eventdate" required=true)
                                        div.input-container
                                            label(for="eventlocation").form-label Location of Event:
                                            input(type="text" name="eventlocation" id="eventlocation" required=true)
                                        div.input-container
                                            label.form-label Event Time:
                                            input(type="time" name="eventstart" id="eventstart")
                                            | to
                                            input(type="time" name="eventend" id="eventend")
                                        div.input-container
                                            label(for="eventdescription").form-label
                                            textarea(name="eventdescription" id="eventdescription" placeholder="Event Info..." required=true)
                                        div.form-button-row
                                            button.button(type="submit") Submit Event

                    div.club-events-list
                        each event in (club.clubevents || [])
                            +clubEvent(event)



            div.club-news
                div.club-news-heading
                    h2 Club News
                    h2.formShow#formShow +
                    h2.formHide#formHide -
                div.formNews#formNews
                    form.news(action=`/clubs/${club.id}/news/create` method="post")
                        div.input-container
                            label(for="news_title").form-label Title of News:
                            input(type="text" name="news_title" id="news_title" required=true)
                        div.input-container
                            label(for="news_info").form-label
                            textarea(name="news_info" id="news_info" placeholder="News Info..." required=true)
                        div.form-button-row
                            button.button(type="submit") Add News
                div.club-news-info

                    div.club-news-list
                        each news in (club.clubnews || [])
                            +clubNews(news)

        .club-info-sections
            .club-info-block
                h3 What is this Activity?
                p= club.shortDesc || 'No description available.'

            .club-info-block
                h3 What makes this Activity unique?
                p= club.shortDesc || 'Information coming soon.'

            .club-info-block
                h3 What does a typical meeting look like?
                p= 'Meetings are held ' + (club.meeting || 'at a time TBD') + ' in ' + (club.location || 'a location TBD') + '. Contact the advisor or officers for more details.'

        .club-admin-actions
            a.back-btn(href="/") ← Back to All Clubs
            a(href="/clubs/" + club.id + "/edit") Edit Club
            form(action="/clubs/" + club.id + "/delete", method="POST", style="display: inline;")
                button(type="submit", onclick="return confirm('Are you sure you want to delete this club?')") Delete Club

    // Pass event data to JavaScript (ONLY ONCE, at the bottom)
    script.
        window.eventsData = !{JSON.stringify(club.clubevents).replace(/</g, '\\u003c')};