extends ../layout

block content
    include ../mixins/clubEvent
    include ../mixins/clubNews
    include ../mixins/officerCard
    .club-detail-page

        .club-detail-header
            img.club-detail-logo(src=club.logo, alt=club.name + ' Logo', onerror="this.src='/images/placeholder.jpg';")

            .club-detail-info
                h1= club.name
                .club-detail-tags= ' - ' + (club.category || 'General') + ' - '
                p.club-detail-description= club.shortDesc

                .club-detail-meta
                    p= 'Meets in ' + (club.location || 'TBD')
                    p= 'Advisor: ' + (club.advisor || 'TBD')
                    p= 'Commitment: ' + club.commitment

                .club-detail-social
                    a(href=club.clubinstagram, target='_blank')
                        img(src='https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/330px-Instagram_logo_2016.svg.png?_=20210403190622', alt='Instagram', onerror="this.src='https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/330px-Instagram_logo_2016.svg.png?_=20210403190622'")
            if user
                .club-admin-actions
                    if isMember
                        a.button-cancel(href=`/clubs/${club.id}/leave/${user.id}`) Leave Club
                    else
                        form(action=`/clubs/${club.id}/join` method='post')
                            button.button-submit(type="submit") Join Club!

        .club-officers-section
            h2 Meet the Officers
            .club-officers-grid

                if club.officers && club.officers.length > 0
                    each officer in club.officers
                       +officerCard(officer)
                else
                    .club-officer-card
                        img(src="https://static.vecteezy.com/system/resources/thumbnails/020/911/740/small/user-profile-icon-profile-avatar-user-icon-male-icon-face-icon-profile-icon-free-png.png", alt="No officer")
                        p No officers listed yet


        div.club-engagements
            div.calendar
                div.calendar-header
                    button(id="prev-month") ‹
                    div#month-year
                    button(id="next-month") ›
                div.calendar-body
                    div.calendar-weekdays
                        div Sun
                        div Mon
                        div Tue
                        div Wed
                        div Thu
                        div Fri
                        div Sat
                    div.calendar-dates


                div.club-events-form
                    div.club-events
                        div.club-events-heading
                            if user && (user.role === "admin" || (user.role === "officer" && user.clubin === club.id))
                                button.add-event(type="button")#calPop Add Event

                        div.popup-overlay#popupOverlay
                            div.popup#popup
                                span.close#closePopup &times;
                                div.popup-content
                                    form.eventForm(action=`/clubs/${club.id}/event/create` method='post')
                                        div.input-container
                                            label(for="eventtitle").form-label Name of Event:
                                            input(type="text" name="eventtitle" id="eventtitle" required=true)
                                        div.input-container
                                            label(for="eventdate").form-label Date of Event:
                                            input(type="date" name="eventdate" id="eventdate" required=true)
                                        div.input-container
                                            label(for="eventlocation").form-label Location of Event:
                                            input(type="text" name="eventlocation" id="eventlocation" required=true)
                                        div.input-container
                                            label.form-label Event Time:
                                            input(type="datetime-local" name="eventstart" id="eventstart")
                                            | to
                                            input(type="datetime-local" name="eventend" id="eventend")
                                        div.input-container
                                            label(for="eventdescription").form-label
                                            textarea(name="eventdescription" id="eventdescription" placeholder="Event Info..." required=true)
                                        div.form-button-row
                                            button.button(type="submit") Submit Event

                    div.club-events-list
                        each event in (club.clubevents || [])
                            +clubEvent(event)



            div.club-news
                div.club-news-heading
                    h2 Club News
                    if user && (user.role === "admin" || (user.role === "officer" && user.clubin === club.id))
                        h2.formShow#formShow +
                        h2.formHide#formHide -
                div.formNews#formNews
                    form.news(action=`/clubs/${club.id}/news/create` method="post")
                        div.input-container
                            label(for="news_title").form-label Title of News:
                            input(type="text" name="news_title" id="news_title" required=true)
                        div.input-container
                            label(for="news_info").form-label
                            textarea(name="news_info" id="news_info" placeholder="News Info..." required=true)
                        div.form-button-row
                            button.button(type="submit") Add News
                div.club-news-info

                    div.club-news-list
                        each news in (club.clubnews || [])
                            +clubNews(news)

        .club-info-sections
            .club-info-block
                h3 What is this Activity?
                p= club.bigDesc || 'No description available.'

            .club-info-block
                h3 What makes this Activity unique?
                p= club.uniqueDesc || 'Information coming soon.'

            .club-info-block
                h3 What does a typical meeting look like?
                p= 'Meetings are held ' + (club.meeting || 'at a time TBD') + ' in ' + (club.location || 'a location TBD') + '. Contact the advisor or officers for more details.'

        div.club-bottom
            div.club-map
                img.map(src="/images/campus_map.png")

        .club-admin-actions
            a.back-button(href="/") ← Back

            if user && (user.role === "admin" || (user.role === "officer" && user.clubin === club.id))
                a(href="/clubs/" + club.id + "/edit") Edit Club

    // Pass event data to JavaScript (ONLY ONCE, at the bottom)
    script.
        window.eventsData = !{JSON.stringify(club.clubevents).replace(/</g, '\\u003c')};