mixin clubCard(club)

    .club-card(data-id=club.id)
        .card-logo
            img(
                src=club.logo || '/images/logo-placeholder.jpg',
                alt=`${club.name} Logo`,
                onerror="this.src='/images/placeholder.jpg';"
            )
        .card-info
            h2= club.name
            p Location: #{club.location || 'TBD'}
            p Meeting: #{club.meeting}
            p.big= club.bigDesc
            p Commitment: #{club.commitment || 'TBD'}
            p Advisor: #{club.advisor || 'TBD'}
            p Officers: #{club.officers || 'TBD'}