mixin clubEvent(event)
    .event-card(data-id=event.id)
        h2.event-name#calPopEvent=event.eventtitle
        div.popup-overlay.popupOverlayEvent
            div.popup
                span.close.closePopupEvent &times;
                div.popup-content
                    a.button-cancel(href=`/clubs/${club.id}/event/delete/${event.id}`) Remove Event
                    div.club-event-info
                        div.event-details
                            h1 Name:
                            p=event.eventtitle
                        div.event-details
                            h4 Location:
                            p=event.eventlocation
                        div.event-details
                            h4 Time:
                            p=event.eventstart
                            |
                            p=event.eventend
                        div.event-details
                            h4.info-event Information:
                            p=event.eventdescription

