mixin clubNews(news)
    div.club-news-isolator
        div.news-info-header
            h3=news.news_title
            p(style="font-style: italic")=news.newsDatedAgo
            if user && (user.role === "admin" || (user.role === "officer" && user.clubin === club.id))
                a.button-cancel(href=`/clubs/${club.id}/news/delete/${news.id}`) Remove News
        div.news-content
            p=news.news_info